arrow-prev, arrow-next {
    margin: .3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 11%);
    transition: all 0.2s;
    outline: 2px solid transparent;
    border: 1px solid black;
    border-radius: 50%;

    &:active {
        width: 48px;
        height: 48px;
        box-shadow: 0 0 7px 0 rgb(0 0 0 / 78%)!important;
    }

    &:hover {
        box-shadow: 0 0 16px 0 rgb(0 0 0 / 78%);
    }

    & button {
        background-color: transparent;
        border: none;
        position: relative;
        top: 2px;
        left: 1px;
        width: 100%;
        height: 100%;
    }
}
